{% extends 'layout.html.twig' %}

{% block title %}
    {% if post.metaTitle %}
        {{ post.metaTitle }}
    {% else %}
        {{ post.title }}
    {% endif %}
{% endblock %}

{% block meta %}
    {{ parent() }}
    {% if post.metaDescription %}
        <meta name="description" content="{{ post.metaDescription }}" />
    {% endif %}    
    {% if post.metaKeywords %}
        <meta name="keywords" content="{{ post.metaKeywords }}" />
    {% endif %}
{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>{{ post.title }}</h1>
    </div>   
{% endblock %}

{% block content %}
    <div class="post-content">
        {{ post.content|markdown2html }}
    </div>
    <div class="post-date">
        {{ post.createdAt|date('d.m.Y') }}
    </div>    
{% endblock %}