<!DOCTYPE html>
<html lang="{{ app.locale }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Authentication</title>

    <!--
    <link href="{{ app.request.basepath }}/css/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/css/admin/login.css" rel="stylesheet">
    -->
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/admin.login.min.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container">{% block form %}{% endblock %}</div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ app.request.basepath }}/js/admin.min.js"></script>
  </body>
</html>